<%- include('./header') %>
    <div class="container">
    <br>
    <h2><%= headData %></h2>
    </br>
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                <label class="text-danger"> <%= message %><%= error %> </label>
                <div class="form-group">
                    <label for="course">Name:</label>
                    <input type="text" placeholder="E.g. Getting Started with Node" name="name" id="course" class="form-control"><br>
                </div>
                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <input type="text" placeholder="E.g. Node JavaScript Rest" name="tags" id="tags" class="form-control"><br>
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea placeholder="Provide Details About the Course" name="desc" id="desc" class="form-control"></textarea><br>
                </div>
                <input type="submit" class="form-control btn-success" value="Upload" />
            </form>
        </div>
        <div class="col-md-6">
            <img src="/website.png" width="250">
        </div>
    </div>

</div>
<hr>
<div class="container">
    <h3>List of Courses</h3>
    <div class="row">
        <% 
    var n=0;
    for(var i=0; i < courses.length; i++) { %>
    <div class="card" style="width:300px; margin: 1%">
        <img class="card-img-top" src="/course.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"><%= courses[i].name %></h4>
          <p class="card-text"><%= courses[i].tags %></p>
          <a href='/content/admin?id=<%= courses[i]._id %>' class="btn btn-primary" alt="Open"><i class="fas fa-folder" alt="Open"></i></a>
          <a href='/course/delete/<%= courses[i]._id %>' class="btn btn-danger float-right"><i class="fas fa-trash"></i></a>
        </div>
    </div>
    <% 
    n = n + 1;
    if(n == 4)
    {
        n=0;
    }
    %><br> <%
    } %>
    </div>
    
</div>

</body>
</html>